# Importing Libraries

In [1]:
import pandas as pd
import numpy as np

# Importing Dataset

In [2]:
dataset=pd.read_csv('dataset.csv')

In [3]:
dataset.head()

,STATION,NAME,DATE,AWND,PGTM,PRCP,TAVG,TMAX,TMIN,WDF2,WDF5,WSF2,WSF5,WT01,WT02,WT08
0,USW00093134,"LOS ANGELES DOWNTOWN USC, CA US",2016-01-01,2.46,NaN,0.00,NaN,64,43,10.0,30.0,8.1,11.0,NaN,NaN,1.0
1,USW00093134,"LOS ANGELES DOWNTOWN USC, CA US",2016-01-02,2.01,NaN,0.00,NaN,65,47,270.0,30.0,6.0,8.9,NaN,NaN,NaN
2,USW00093134,"LOS ANGELES DOWNTOWN USC, CA US",2016-01-03,0.67,NaN,0.00,NaN,62,44,150.0,150.0,10.1,14.1,NaN,NaN,NaN
3,USW00093134,"LOS ANGELES DOWNTOWN USC, CA US",2016-01-04,1.34,NaN,0.01,NaN,69,55,270.0,280.0,8.1,14.1,NaN,NaN,NaN
4,USW00093134,"LOS ANGELES DOWNTOWN USC, CA US",2016-01-05,2.46,NaN,1.61,NaN,59,49,140.0,140.0,10.1,16.1,1.0,1.0,NaN

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1827 entries, 0 to 1826
Data columns (total 16 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   STATION  1827 non-null   object
 1   NAME     1827 non-null   object
 2   DATE     1827 non-null   object
 3   AWND     1823 non-null   float64
 4   PGTM     62 non-null     float64
 5   PRCP     1827 non-null   float64
 6   TAVG     0 non-null      float64
 7   TMAX     1827 non-null   int64
 8   TMIN     1827 non-null   int64
 9   WDF2     1822 non-null   float64
 10  WDF5     1809 non-null   float64
 11  WSF2     1823 non-null   float64
 12  WSF5     1809 non-null   float64
 13  WT01     551 non-null    float64
 14  WT02     39 non-null     float64
 15  WT08     861 non-null    float64
dtypes: float64(11), int64(2), object(3)
memory usage: 228.5+ KB

# Cleaning dataset

In [5]:
def clean(dataset):
    cols=["STATION","NAME","DATE","PGTM","TAVG","WT01","WT02","WT08"]
    dataset=dataset.drop(cols,axis=1)
    cols=["AWND","WDF2","WDF5","WSF2","WSF5"]
    for col in cols:
        dataset[col].fillna(dataset[col].mean(),inplace=True)
    dataset.loc[dataset["PRCP"]>0,["PRCP"]]=1
    return dataset
dataset=clean(dataset)

In [6]:
dataset.head()

   AWND  PRCP  TMAX  TMIN   WDF2   WDF5  WSF2  WSF5
0  2.46   0.0    64    43   10.0   30.0   8.1  11.0
1  2.01   0.0    65    47  270.0   30.0   6.0   8.9
2  0.67   0.0    62    44  150.0  150.0  10.1  14.1
3  1.34   1.0    69    55  270.0  280.0   8.1  14.1
4  2.46   1.0    59    49  140.0  140.0  10.1  16.1

In [7]:
y=dataset['PRCP']
X=dataset.drop('PRCP',axis=1)

In [8]:
y.head()

0    0.0
1    0.0
2    0.0
3    1.0
4    1.0
Name: PRCP, dtype: float64

In [9]:
X.head()

   AWND  TMAX  TMIN   WDF2   WDF5  WSF2  WSF5
0  2.46    64    43   10.0   30.0   8.1  11.0
1  2.01    65    47  270.0   30.0   6.0   8.9
2  0.67    62    44  150.0  150.0  10.1  14.1
3  1.34    69    55  270.0  280.0   8.1  14.1
4  2.46    59    49  140.0  140.0  10.1  16.1

# Splitting Dataset

In [10]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size= 0.3,random_state=42)

# Feature Scaling

In [11]:
from sklearn.preprocessing import StandardScaler
sc= StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

# Applying Different Algorithm

# Using Logistic Regression

In [12]:
from sklearn.linear_model import LogisticRegression
clflr = LogisticRegression(random_state=0)
clflr.fit(X_train,y_train)
from sklearn.metrics import accuracy_score
accuracy_score(y_test,clflr.predict(X_test))

0.941712204007286

# Using Svm

In [13]:
from sklearn.svm import SVC
clfsvm = SVC(kernel='linear',random_state=0)
clfsvm.fit(X_train,y_train)
SVC(kernel='linear', random_state=0)
accuracy_score(y_test,clfsvm.predict(X_test))

0.9453551912568307

# Using KNN

In [14]:
from sklearn.neighbors import KNeighborsClassifier
clfknn = KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p = 2)
clfknn.fit(X_train, y_train)
KNeighborsClassifier()
accuracy_score(y_test,clfknn.predict(X_test))

0.9289617486338798

# Using Kernal SVM

In [15]:
from sklearn.svm import SVC
clfsvmk = SVC(kernel='rbf',random_state=0)
clfsvmk.fit(X_train,y_train)
SVC(random_state=0)
accuracy_score(y_test,clfsvmk.predict(X_test))

0.9398907103825137

# Using Random Forest

In [16]:
from sklearn.ensemble import RandomForestClassifier
clfrf = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0)
clfrf.fit(X_train, y_train)
RandomForestClassifier(criterion='entropy', n_estimators=10, random_state=0)
accuracy_score(y_test,clfrf.predict(X_test))

0.9289617486338798

# Using Decision Tree

In [17]:
from sklearn.tree import DecisionTreeClassifier
clfdt = DecisionTreeClassifier(criterion = 'entropy', random_state = 0)
clfdt.fit(X_train, y_train)
DecisionTreeClassifier(criterion='entropy', random_state=0)
accuracy_score(y_test,clfdt.predict(X_test))

0.9216757741347905

# Using Naive Bayes

In [18]:
from sklearn.naive_bayes import GaussianNB
clfnv = GaussianNB()
clfnv.fit(X_train, y_train)
GaussianNB()
accuracy_score(y_test,clfnv.predict(X_test))

0.8761384335154827

# Best accuracy is achived using linear svm with a accuracy score of 0.94535